


*,::after,::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: "Noto Sans Armenian";
    font-style: normal;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
footer{
    flex: 0 0 auto;
}
.container{
    padding: 0 22px;
}
header{
    padding: 40px 0 0;
}
main {
    flex: 1 0 auto;
}
.img-logo{
    display: flex;
    margin-left: auto;
}
.regular-content{
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.regular-content.big-mode{
    max-width: 400px;
}
.regular-main{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.btn{
    height: 80px;
    padding: 0 12px;
    border: none;
    border-radius: 5px;
    background: #24A4DD;
    transition: background-color 1s ease;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.62px;
    width: 100%;
}

.btn:hover{
    background: #2F2F2F;
}

.btn:focus{
    background: #2F2F2F;
}

.btn:active{
    background: #2F2F2F;
}

.btn-small{
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.21px;
    text-transform: uppercase;
}

.icon-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.icon-button img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.buttons-wrap{
    display: flex;
    flex-direction: column;
    gap:11px;
    max-width: 368px;
    margin: 0 auto 35px;
}


.title-17{
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.title-22{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.title-25{
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-top: 0;
}

.title-28{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.title-30{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 0;
}
.title-41{
    color: #FFF;
    text-align: center;
    font-size: 41px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 131.707% */
    letter-spacing: 1.23px;
    text-transform: uppercase;
}


.mb-10 {
    margin-bottom: 10px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-28{
    margin-bottom: 28px!important;
}
.mb-44{
    margin-bottom: 44px!important;
}
.mb-46{
    margin-bottom: 46px!important;
}
.mb-60{
    margin-bottom: 60px!important;
}
.mb-68{
    margin-bottom: 68px!important;
}
.pt-40{
    padding-top: 40px!important;
}

.footer{
    background-color: #FFFFFF;
    text-align: center;
}

.footer img{
    display: flex;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}
.radio-holder{
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-bottom: 44px;
}
.form-control {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans Armenian";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    margin: 0;
    font: inherit;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

input[type="radio"]:checked::before {
    background-color: #2F2F2F;
}
.check-holder{
    display: flex;
    gap:13px;
   text-align: left;
    color: #FFF;
    font-family: "Noto Sans Armenian";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.66px;
    text-transform: uppercase;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    flex-shrink: 0;
    background-color: #FFFFFF;
    margin: 0;
    font: inherit;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 12px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
}

input[type="checkbox"]:checked::before {
   opacity: 1;
}
.input-block > *{
    display: grid;
    gap: 10px;
    max-width: 368px;
    margin: 0 auto 24px;
}
.input{
    color: #213140;
    text-align: center;
    font-family: "Noto Sans Armenian";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
    -webkit-appearance: none;
    height: 78px;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    border: 1px solid transparent;
}
.label{
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans Armenian";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error .input{
    border: 1px solid #FF8515;
}
.error-text{
    color: #FF8515;
    text-align: center;
    font-family: "Noto Sans Armenian";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    display: none;
}
.error .error-text{
    display: block;
}
.input::placeholder{
    color: #213140;
    text-align: center;
    font-family: "Noto Sans Armenian";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
}

@media (min-width: 480px) {

}